cache
target
.ipynb_checkpoints

# due to size and lack of changes to be tracked
/data/prices/*
# changes completely each update
/data/ranks/*
# pretty sure distributing this would get me in trouble legally
/data/products/raw.jsonl

barcodes/output.json
ps.db
